@font-face {
  font-family: "iconfont"; /* Project id 4373839 */
  src: url('iconfont.woff2?t=1706685183056') format('woff2'),
       url('iconfont.woff?t=1706685183056') format('woff'),
       url('iconfont.ttf?t=1706685183056') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linux:before {
  content: "\e6cf";
}

.icon-gonggaoS:before {
  content: "\e64b";
}

.icon-zuixingengxin:before {
  content: "\e61e";
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-tushu:before {
  content: "\e601";
}

.icon-weixin:before {
  content: "\e602";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-zhuye:before {
  content: "\e655";
}

.icon-github:before {
  content: "\e628";
}

.icon-Down:before {
  content: "\e60f";
}

.icon-shangjiantou:before {
  content: "\e79d";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-mianshianpai:before {
  content: "\e62c";
}

.icon-riqi:before {
  content: "\eb2a";
}

.icon-biaoqian:before {
  content: "\e6e2";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-React:before {
  content: "\e79b";
}

.icon-shezhi:before {
  content: "\e610";
}

.icon-_mianshijianli:before {
  content: "\e611";
}

.icon-fenlei:before {
  content: "\e6b3";
}

